@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import 'tailwindcss';

@theme {
  --color-red: #B20000;
  --color-light-red: #F00000;
  --color-second-black: #161616;
  --color-real-grey: #262623;
  --font-inter: "Inter", sans-serif;
}

body {
  background-color: #000000;
}